//Theme Color
$theme-surface-color:#33475b;
$theme-primary-color:"";
$theme-active-color:#2d4051;
$theme-light-color:#ffffff;
$theme-light-border-color:#e2e2e3b3;

//Typography
$text-primary-color:#818c99;
$text-heading-size:28px;
$text-highlighted-color:#55bfd2;


//Tabs
$tab-background-color:#e5eaf275;
$tab-border-color:#dde6ed;
$tab-background-active-color:#e4e9f0;

//Input
$input-placeholder-color:$text-primary-color;
$input-background-color:#425b76;
$input-background-light-color:#f7fbfd;
$input-border-light-color:#dde6ed;


//btn
$btn-background-default-color:#eaeff5;
$btn-background-primary-color:$input-background-light-color;
$btn-background-success-color:#ffb39e;
